body>header {
  display: flex;
  overflow: hidden;
  background-color: #d4b5fd;
  padding: 10px 10px;
  justify-content: space-between;
}
/*style the header links*/

.Header a {
 
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.Header{
margin: 30px 10px 10px 10px;
}

.Header a:hover {
  background-color: #f59aff;
  color: black;
}

.streamImages {
  width: 600px;
  height: 480px;
  border: 1px solid black;
}

  #display_image{
    width: 375px;
    height: 211px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }